<!-- <div class="container" ng-controller="ProjetosController"> -->
<div class="container">

	<div class="alert alert-success alert-dismissible" role="alert" ng-if="mensagemSucesso">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  <strong>Mensagem</strong> {{mensagemSucesso}}
	</div>
	
	<div class="alert alert-warning alert-dismissible" role="alert" ng-if="mensagemAviso">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  <strong>Atenção</strong> {{mensagemAviso}}
	</div>
	
	<div class="alert alert-danger alert-dismissible" role="alert" ng-if="mensagemErro">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  <strong>Erro</strong> {{mensagemErro}}
	</div>
	
	
	<h3>Novo Projeto</h3>
	<hr/>
	
	<form name="projetoForm" class="form-horizontal">
		<div class="form-group">
			<label for="nome" class="col-sm-2 control-label">Nome</label>
			<div class="col-sm-10">
				<input autocomplete="off" type="text" class="form-control" name="nome" ng-model="projeto.nome" ng-required="true" ng-minlength="10" />
			</div>
		</div>
		<div class="form-group">
			<label for="descricao" class="col-sm-2 control-label">Descrição</label>
			<div class="col-sm-10">
				<textarea type="text" class="form-control" name="descricao" ng-model="projeto.descricao" ng-required="true">
				</textarea>
			</div>
		</div>
		<div class="form-group">
		  <div class="col-sm-offset-2 col-sm-10">
		  
		  	<div ng-messages="projetoForm.nome.$error" ng-show="projetoForm.nome.$invalid && projetoForm.nome.$dirty" class="alert alert-danger">
				<div ng-message="required" >
					Por favor preencha o nome!
				</div>
				
				<div ng-message="minlength">
					O tamanho mínimo do nome é 10 caracteres.
				</div>
		  	</div>
		  	
		  	<div ng-messages="projetoForm.descricao.$error" ng-show="projetoForm.descricao.$invalid && projetoForm.descricao.$dirty" class="alert alert-danger">
				<div ng-message="required" >
					Por favor preencha a descrição!
				</div>
				
		  	</div>
		  
			
		    <button type="button" class="btn btn-primary" ng-click="salvarProjeto(projeto)" ng-disabled="projetoForm.$invalid">Salvar</button>
		    <button type="button" class="btn btn-default" ng-click="escondeFormulario()">Cancelar</button>
		  </div>
		</div>
	</form>
	


</div>