<!DOCTYPE html>
<html ng-app="simpleTests">
<head>
<meta charset="UTF-8">
<title>Simple Tests - Projetos</title>

<link rel="stylesheet" href="../resources/css/bootstrap.css">
<link rel="stylesheet" href="../resources/css/bootstrap-theme.css">

<script src="../resources/js/jquery-2.1.4.js"></script>
<script src="../resources/js/bootstrap.js"></script>
<script src="../resources/js/angular.js"></script>
<script src="../resources/js/angular-messages.js"></script>

<script src="app.js"></script>
<script src="services/SimpleTestConstants.js"></script>
<script src="controllers/ProjetosController.js"></script>
<script src="services/ProjetosService.js"></script>


</head>
<body ng-controller="ProjetosController">

<div ng-include="'menu.html'"></div>

<div class="container">

	<h2>Projetos <small>Gerenciando os projetos existentes</small> </h2> 
	
	<div class="alert alert-success alert-dismissible" role="alert" ng-if="mensagemSucesso">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  <strong>Mensagem</strong> {{mensagemSucesso}}
	</div>
	
	<div class="alert alert-warning alert-dismissible" role="alert" ng-if="mensagemAviso">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  <strong>Atenção</strong> {{mensagemAviso}}
	</div>
	
	<div class="alert alert-danger alert-dismissible" role="alert" ng-if="mensagemErro">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  <strong>Erro</strong> {{mensagemErro}}
	</div>
	

	<div class="panel panel-primary">
		<div class="panel-heading">Projetos existentes</div>
		<div class="panel-body">
			<input class="form-control" type="text" ng-model="filtro" placeholder="Filtre os projetos"/>
			<table class="table table-hover">
				<tr>
					<th>#</th>
					<th>Nome</th>
					<th>Descrição</th>
					<th>Data</th>
					<th></th>
				</tr>
				<tr ng-repeat="projeto in projetos | filter : {nome : filtro} | orderBy: '+nome'">
					<td>{{$index + 1}}</td>
					<td><a href="/simpletests/app/projetos/{{projeto.id}}">{{projeto.nome | uppercase}}</a></td>
					<td>{{projeto.descricao}}</td>
					<td>{{projeto.data | date:'dd/MM/yyyy'}}</td>
					<td>
						<button class="btn btn-default btn-mini" title="Alterar o projeto" ng-click="exibirFormulario(projeto)">
							<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
						</button>
						<button class="btn btn-danger btn-mini" title="Excluir o projeto" ng-click="excluirProjeto(projeto)">
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
						</button>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<button class="btn btn-primary" ng-click="exibirFormulario()">Novo Projeto</button>
	<form name="projetoForm" class="form-horizontal" ng-if="exibeFormulario">
<!-- 	É valido:  {{projetoForm.$valid}} -->
<!-- 	É inválido: {{projetoForm.$invalid}} -->
		<div class="form-group">
			<label for="nome" class="col-sm-2 control-label">Nome</label>
			<div class="col-sm-10">
				<input autocomplete="off" type="text" class="form-control" name="nome" ng-model="projeto.nome" ng-required="true" ng-minlength="10" />
			</div>
		</div>
		<div class="form-group">
			<label for="descricao" class="col-sm-2 control-label">Descrição</label>
			<div class="col-sm-10">
				<textarea type="text" class="form-control" name="descricao" ng-model="projeto.descricao" ng-required="true">
				</textarea>
			</div>
		</div>
		<div class="form-group">
		  <div class="col-sm-offset-2 col-sm-10">
		  
<!-- 		  	<div class="alert alert-danger" ng-show="projetoForm.nome.$invalid && projetoForm.nome.$dirty"> -->
<!-- 				Por favor preencha o nome! -->
<!-- 			</div> -->
			
<!-- 			<div class="alert alert-danger" ng-show="projetoForm.descricao.$invalid && projetoForm.descricao.$dirty"> -->
<!-- 				Por favor preencha a descrição! -->
<!-- 			</div> -->
		  	
		  	<div ng-messages="projetoForm.nome.$error" ng-show="projetoForm.nome.$invalid && projetoForm.nome.$dirty" class="alert alert-danger">
				<div ng-message="required" >
					Por favor preencha o nome!
				</div>
				
				<div ng-message="minlength">
					O tamanho mínimo do nome é 10 caracteres.
				</div>
		  	</div>
		  	
		  	<div ng-messages="projetoForm.descricao.$error" ng-show="projetoForm.descricao.$invalid && projetoForm.descricao.$dirty" class="alert alert-danger">
				<div ng-message="required" >
					Por favor preencha a descrição!
				</div>
				
		  	</div>
		  
			
		    <button type="button" class="btn btn-primary" ng-click="salvarProjeto(projeto)" ng-disabled="projetoForm.$invalid">Salvar</button>
		    <button type="button" class="btn btn-default" ng-click="escondeFormulario()">Cancelar</button>
		  </div>
		</div>
	</form>
	


</div>

</body>
</html>