<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- properties -->
        <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="hibernate.connection.url">jdbc:hsqldb:hsql://127.0.0.1/stestsdb</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.format_sql">true</property>
        
        <property name="hibernate.show_sql">true</property>
        
        <mapping class="br.mp.mpf.simpletests.model.Projeto" />
        <mapping class="br.mp.mpf.simpletests.model.Release" />
        <mapping class="br.mp.mpf.simpletests.model.Historia" />
        <mapping class="br.mp.mpf.simpletests.model.CasoDeTeste" />
        <mapping class="br.mp.mpf.simpletests.model.SuiteDeTeste" />
        <mapping class="br.mp.mpf.simpletests.model.ExecucaoTeste" />
        <mapping class="br.mp.mpf.simpletests.model.ResultadoExecucaoTeste" />
        <mapping class="br.mp.mpf.simpletests.model.Defeito" />
        <mapping class="br.mp.mpf.simpletests.model.Usuario" />
        
    </session-factory>

</hibernate-configuration>
